<div>
  <h2>"comments"</h2>
  {{#each comments}}
  <div>
  <P>
    {{name}}, {{comment}}
  </P>
  </div>
  {{/each}}
</div>
<div>
  <form class="form" action="/comments/{{id}}" method="post">
  <label for="name">
    Name:
    <input type="text" name="name">
  </label>

  <label for="breed">
    Comment:
    <input type="text" name="comment">
  </label>

  <input type="submit" name="" value="Submit">
</form>
</div>