<div class="summary-tile" style="background-image: url({{image}})">
  <div class="summary-layer">
    <h2 class="left-align">{{name}}</h2>
    <div class="sub-header center">
      <h2 class="spacer">{{rating}}★</h2>
      <h2 class="spacer">{{price}}</h2>
    </div>
  </div>
</div>