<h1 class="header center">EAT-D-A</h1>

<div class="center rounded container">
  {{#each restaurants}}
  <div>
    <a href="/{{id}}">
      {{>summary-tile}}
    </a>
  </div>
  {{/each}}
</div>

<br>
<br>
<br>
<br>
<br>
<div class="center">
Best Project Ever. &nbsp;&nbsp;&nbsp;&nbsp;By Team Charlie.
</div>