<h1 class="header center">EAT-D-A</h1>

<div class="center rounded container">
  {{#each data}}
    <h1>YIKES</h1>
    {{>summary-tile}}
  {{/each}}
  <!--
  <img class="summary-image" src="/images/archies.jpg" alt="Archie's Pizzeria">
  <img class="summary-image" src="/images/bestugly.jpg" alt="Best Ugly Bagels">
  <img class="summary-image" src="/images/burgerburger.jpg" alt="Burger Burger">
  <img class="summary-image" src="/images/flyingbb.jpg" alt="Flying Burrito Brothers">
  <img class="summary-image" src="/images/ichibanramen.jpg" alt="Ichiban Ramen">
  <img class="summary-image" src="/images/nandos.jpg" alt="Nandos">
  <img class="summary-image" src="/images/pitapit.jpg" alt="Pita Pit">
  <img class="summary-image" src="/images/pokepoke.jpg" alt="Poke Poke">
  <img class="summary-image" src="/images/soulsushi.jpg" alt="Soul Sushi">
  <img class="summary-image" src="/images/subway.jpg" alt="Subway">
  -->
</div>


<!--

Eat-D-A

some kind of white background

do we want a horizontal rule?

flex box for all pictures 3x3

when you hover over pictures the picture fades a bit

white font on top with restaurant name

keywords underneath / on hover?

footer with our names at the bottom ?

-->