<h1 class="header center">YEAT-D-A</h1>

<div class="center rounded container">
  {{#each restaurants}}
  <div>
    <a href="/{{id}}">
      {{>summary-tile}}
    </a>
  </div>
  {{/each}}
</div>


<!--

Eat-D-A

some kind of white background

do we want a horizontal rule?

flex box for all pictures 3x3

when you hover over pictures the picture fades a bit

white font on top with restaurant name

keywords underneath / on hover?

footer with our names at the bottom ?

-->